.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
mkinstalldirs
po/*.gmo
po/Makefile.in.in
po/POTFILES
po/gimmix.pot
po/stamp-it
src/*.o
src/gimmix
stamp-h1
